body {
    padding-top: 50px;
}
.starter-template {
    margin-top: 60px;
    padding: 40px 15px;
    text-align: center;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 60px;
    margin-bottom: 10px;
}